.summary-container {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.summary-box {
  flex: 1;
  padding: 30px;
  border-radius: 15px;
  background-color: #f8fafc;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.summary-box h3 {
  margin-bottom: 15px;
  color: #555;
}

.summary-box p {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .summary-container {
    flex-direction: column;
  }
}
.summary-box:nth-child(1) {
  border-top: 5px solid green;
}

.summary-box:nth-child(2) {
  border-top: 5px solid red;
}

.summary-box:nth-child(3) {
  border-top: 5px solid #2563eb;
}

.income-text {
  color: green;
}

.expense-text {
  color: red;
}

.balance-text {
  color: #2563eb;
}